NEXT_PUBLIC_API_URL=http://localhost:5101/api
NEXT_PUBLIC_WHATSAPP_NUMBER=5571999550803
NEXT_PUBLIC_CLINIC_ADDRESS=Edifício Aero, Av. Santos Dumont, 1883, Centro, Lauro de Freitas - BA, CEP 42702-400
